.App {
  text-align: center;
}

form {
  background-color: rgb(211, 244, 218);
  border: 1px solid;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}
form button {
  margin: 1rem auto;
  display: block;
}